body {
    min-height: 75rem;
    padding-top: 4.5rem;
    }
    h1 {
    color: red;
    }

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px
    }

.top-bar {
    display: flex;
    justify-content: center;
    }
      
.resource {
    text-align: center;
    margin: 0 10px;
    }